.loading {
  color: #0066ff;
  text-align: center;
  size: 2em;
  margin-top: 15px;
  font-weight: bold;
}

.mainhead {
  color: #0066ff;
  text-align: center;
  font-size: 4em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
